@import url(https://fonts.googleapis.com/css?family=Tangerine);

:root {
  --primary-white : #ffff;
  --primary-brown : #fd7e14;
  --primary-dark : #343A40;
}
/**********************************************Style For Logo****************************************************/
.logo {
  width: 16.25rem;
  padding: 10 10 10;
}


/**********************************************Style for Navigation Link*****************************************************/

nav a .nav-link {
  cursor: pointer;
  letter-spacing: 0.5rem;
  
}

nav ul li {
  text-transform: uppercase;
  font-weight: 500;
 }

 .navbar-nav >  li > a {
   color: var(--primary-white)  !important;
      margin-right: 20px;
   margin-left: 20px;
   border-top: 0.1875rem solid var(--primary-dark) ;
  
 }
 .navbar a {
  
   padding: 0 !important;
   margin: 10px;
 }
 .navbar-brand 
 {
   max-width: 16rem;
   height: 4rem !important;
   padding: 0 !important;
 }
 .navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
   border-top: 0.1875rem solid var(--primary-brown) ;
 }
 .navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-brown) ;
 }