@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serrif;
}

:root {
  --primary-white: #ffff;
  --primary-brown: #fd7e14;
  --primary-dark: #343A40;
  --black: #000000;
}

/**********************Header Wrapper***************************/
.header-wrapper {
  position: relative;
  background: url('./Components/Images/Lingesh_Cover.JPG') no-repeat;

  animation: flips 5s ease;
  animation-iteration-count: 1;
  height: 90vh;
  background-size: cover;


}

@keyframes flips {
  0% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  10% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

}




/**********************Main info***************************/
.main-info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*******************************************H2 In Main info**********************************************************/
.main-info h1 {
  color: white;

}

/**************************Typed Text************************/

.typed-text {

  text-transform: uppercase;
  color: var(--primary-white);
  font-weight: bold;
  font-size: 2rem;

}

/*************************For React JS Particles**************/
.tsparticles-canvas-el {
  position: absolute;

  z-index: 1;
  margin-right: 200px;

}

/********************************************For Experience section************************************************/
/*.work_column{
  background: url(work.jpg) no-repeat;
  background-size: cover;
}
.education_column{
  background: url(edu.jpg) no-repeat;
  background-size: cover;
} */

.wavetext {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.wavetext span {
  position: relative;
  display: inline-block;
  color: black;
  font-size: 2rem;
  animation: wave 1s ease-in-out;
  animation-iteration-count: 3;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40%, 100% {
    transform: translateY(0px);
  }

}

/**********************Divider for common***********************/
.divider {
  margin-top: 30px;
  margin-bottom: 30px;
}



/**Portfolio **/
.Portfolio_Section {
  position: relative;
}

.card {
  height: 300px;
  overflow: hidden;
}

.card img {
  transition: all 0.5s ease;
}

.card:hover img {
  transform: scale(1.2);
}

.card-body {
  position: relative;
  opacity: 60%;
}

.card-body :hover {
  color: red;

  font-size: 20px;
  font-weight: 900;
}

.card-body p {
  padding-top: 150px;
  color: black;
  font-size: 20px;
  font-weight: 700px;
}

.Portfolio_Title {
  margin-top: 50px;
  margin-bottom: 20px;
}